@import "tailwindcss";

@theme {
  --color-primary: #C0392B;
  --color-secondary: #F4D03F;
  --color-background: #121212;
  --color-surface: #1E1E1E;
  
  --font-display: "Playfair Display", serif;
}

@layer base {
  body {
    @apply bg-background text-white antialiased;
  }
  .text-outline {
    -webkit-text-stroke: 3px white;
    -webkit-text-fill-color: transparent;
  }
  .sub-text-outline{
    -webkit-text-stroke: 1px black;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
